body {
    font-family: 'sans-serif';
    color: white;
    background-color: #1b1b32;
    padding: 50px;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    padding: 20px;
    border: 3px solid;
    border-color: white white grey grey
}